#welcome-index {
  header {
    overflow: hidden;
    position: relative;
    color: rgba(83,102,120, 1.0);

    .container {
      padding-top: 160px;
    }

    section {
      padding: 16px;
      margin-top: 100px;
      margin-bottom: 100px;
      line-height: normal;
      border-top: 1px dashed lighten($brand-primary, 20%);
      border-bottom: 1px dashed lighten($brand-primary, 20%);
    }

    #getstart {
      margin-bottom: 50px;
    }
  }
}